body{
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%)
}

.heading{
    color: hsl(268, 83%, 46%);
    text-align: center;
    font-weight: 800;
    font-size: 48;
}
.bg-grey{
    background: #3a3030;
}
.p-5{
    padding:20px;
    background-color: red;
}
.m-4{
    margin:20px;
    background-color: red;
}
#main-heading{
    color: hsl(219, 49%, 23%) !important;
}
    