body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Header-main{
    background-color:lightgreen;
    text-align:center;
}
#hd1{
    background-color:hsl(120, 23%, 46%);
    text-align: center;
}
.navbar{
    background-color: aqua;
    text-align: center;
}
#headerimg-1{
    height: auto;
    }

