.heading{
    color: red;
    text-align: center;
    font-weight: 700;
    font-size: 48;
}
.bg-grey{
    background: #c6c6c6;
}
.p-5{
    padding:20px;
    background-color: red;
}
.m-4{
    margin:20px;
    background-color: red;
}
#main-heading{
    ccolor: hsl;
}
    